<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lottery</title>
    <link rel="stylesheet" href="/static/css/container.css"/>
    <link rel="stylesheet" href="/static/css/center.css"/>
    <link rel="stylesheet" href="/static/css/table.css"/>
    <link rel="stylesheet" href="/static/css/text.css"/>
</head>
<body>

<div class="center">
    <h1 th:text="'Здравствуй, ' + ${username}"></h1>
    <div th:if="${username} == 'admin'">
        <form th:action="@{/db/setup}">
            <label>
                <input th:type="submit" value="Настройка базы игрушек">
            </label>
        </form>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="col-1-1">
            <p>
                Компьютер загадал 10 чисел.
                Попробуйте угадать их все и получи приз.
                Вводи либо 0, либо 1.
            </p>
            <form th:action="@{/results}" th:method="POST" th:object="${playerArrayHandler}">
                <div>
                    <label for="firstNumber">#1 :</label>
                    <input id="firstNumber" th:field="*{firstNumber}" type="text"/>
                    <div style="color:red" th:errors="*{firstNumber}" th:if="${#fields.hasErrors('firstNumber')}"></div>
                </div>
                <div>
                    <label for="secondNumber">#2 :</label>
                    <input id="secondNumber" th:field="*{secondNumber}" type="text"/>
                    <div style="color:red" th:errors="*{secondNumber}" th:if="${#fields.hasErrors('secondNumber')}"></div>
                </div>
                <div>
                    <label for="thirdNumber">#3 :</label>
                    <input id="thirdNumber" th:field="*{thirdNumber}" type="text"/>
                    <div style="color:red" th:errors="*{thirdNumber}" th:if="${#fields.hasErrors('thirdNumber')}"></div>
                </div>
                <div>
                    <label for="fourthNumber">#4 :</label>
                    <input id="fourthNumber" th:field="*{fourthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{fourthNumber}" th:if="${#fields.hasErrors('fourthNumber')}"></div>
                </div>
                <div>
                    <label for="fifthNumber">#5 :</label>
                    <input id="fifthNumber" th:field="*{fifthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{fifthNumber}" th:if="${#fields.hasErrors('fifthNumber')}"></div>
                </div>
                <div>
                    <label for="sixthNumber">#6 :</label>
                    <input id="sixthNumber" th:field="*{sixthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{sixthNumber}" th:if="${#fields.hasErrors('sixthNumber')}"></div>
                </div>
                <div>
                    <label for="seventhNumber">#7 :</label>
                    <input id="seventhNumber" th:field="*{seventhNumber}" type="text"/>
                    <div style="color:red" th:errors="*{seventhNumber}" th:if="${#fields.hasErrors('seventhNumber')}"></div>
                </div>
                <div>
                    <label for="eighthNumber">#8 :</label>
                    <input id="eighthNumber" th:field="*{eighthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{eighthNumber}" th:if="${#fields.hasErrors('eighthNumber')}"></div>
                </div>
                <div>
                    <label for="ninthNumber">#9 :</label>
                    <input id="ninthNumber" th:field="*{ninthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{ninthNumber}" th:if="${#fields.hasErrors('ninthNumber')}"></div>
                </div>
                <div>
                    <label for="tenthNumber">#10:</label>
                    <input id="tenthNumber" th:field="*{tenthNumber}" type="text"/>
                    <div style="color:red" th:errors="*{tenthNumber}" th:if="${#fields.hasErrors('tenthNumber')}"></div>
                </div>

                <input type="submit"/>
            </form>
        </div>
    </div>
</div>

<div class="center">
    <form th:action="@{/}" th:method="GET">
        <label>
            <input th:type="submit" value="Выход">
        </label>
    </form>
</div>

<div class="center">
    <h3>Игрушки которые можно выиграть:</h3>
</div>

<div class="center">
    <table class="table">
        <thead>
        <tr>
            <th>Сколько цифр нужно угадать</th>
            <th>Приз</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="toy : ${toys}">
            <td th:text="${toy.getDropRate() * 10}">
            </td>
            <td th:text="${toy.getProperty()}">
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>