<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SetUp</title>
    <link rel="stylesheet" href="/static/css/container.css"/>
    <link rel="stylesheet" href="/static/css/center.css"/>
    <link rel="stylesheet" href="/static/css/table.css"/>
    <link rel="stylesheet" href="/static/css/text.css"/>
</head>
<body>
<div class="main">

    <div class="center">
        <p>Управление базой игрушек</p>
        <form th:action="@{/db/backup}" th:method="POST">
            <button type="submit" th:name="backup" th:value=1>Сохранить базу</button>
            <button type="submit" th:name="backup" th:value=0>Загрузить базу</button>
        </form>
    </div>
    <div class="center">
        <form th:action="@{/}" th:method="GET">
            <label>
                <input th:type="submit" value="Выход">
            </label>
        </form>
    </div>

    <div class="container">
        <div class="col-1-2">
            <h3>Форма для создания новой настольной игры</h3>
            <form th:action="@{/db/newToy}" th:method="POST" th:object="${newCardGame}">
                <label for="CardGameName">Введите название игры:</label>
                <br/>
                <input id="CardGameName" th:field="*{name}" type="text"/>
                <br/>
                <label for="peopleCount">Введите количество игроков:</label>
                <br/>
                <input id="peopleCount" th:field="*{peopleCount}" type="text"/>
                <br/>
                <label for="CardGameTheme">Введите тему игры:</label>
                <br/>
                <input id="CardGameTheme" th:field="*{theme}" type="text"/>
                <br/>
                <button type="submit" th:name="itemType" th:value="CardGame">Создать новую настольную игру</button>
            </form>
        </div>

        <div class="col-1-2">
            <h3>Форма для создания новой куклы</h3>
            <form th:action="@{/db/newToy}" th:method="POST" th:object="${newDoll}">
                <label for="DollName">Введите название куклы:</label>
                <br/>
                <input id="DollName" th:field="*{name}" type="text"/>
                <br/>
                <label for="DollSize">Введите размер куклы (большая/маленькая):</label>
                <br/>
                <input id="DollSize" th:field="*{size}" type="text"/>
                <br/>
                <label for="DollTheme">Введите тематику куклы:</label>
                <br/>
                <input id="DollTheme" th:field="*{theme}" type="text"/>
                <br/>
                <button type="submit" th:name="itemType" th:value="Doll">Создать новую куклу</button>
            </form>
        </div>

    </div>
    <div class="container">
        <div class="col-1-2">
            <h3>Форма для создания нового конструктора</h3>
            <form th:action="@{/db/newToy}" th:method="POST" th:object="${newLego}">
                <label for="LegoName">Введите название конструктора:</label>
                <br/>
                <input id="LegoName" th:field="*{name}" type="text"/>
                <br/>
                <label for="LegoSize">Введите размер конструктора (большой/маленький):</label>
                <br/>
                <input id="LegoSize" th:field="*{size}" type="text"/>
                <br/>
                <label for="LegoTheme">Введите тематику конструктора:</label>
                <br/>
                <input id="LegoTheme" th:field="*{theme}" type="text"/>
                <br/>
                <button type="submit" th:name="itemType" th:value="Lego">Создать новый конструктор</button>
            </form>
        </div>


        <div class="col-1-2">
            <h3>Форма для создания нового робота</h3>
            <form th:action="@{/db/newToy}" th:method="POST" th:object="${newRobot}">
                <label for="RobotName">Введите название робота:</label>
                <br/>
                <input id="RobotName" th:field="*{name}" type="text"/>
                <br/>
                <label for="RobotType">Введите тип робота:</label>
                <br/>
                <input id="RobotType" th:field="*{type}" type="text"/>
                <br/>
                <label for="RobotAction">Введите действие робота:</label>
                <br/>
                <input id="RobotAction" th:field="*{action}" type="text"/>
                <br/>
                <button type="submit" th:name="itemType" th:value="Robot">Создать нового робота</button>
            </form>
        </div>
    </div>
</div>
<br/>

<div class="center">
    <table class="table">
        <thead>
        <tr>
            <th>Карточные игры</th>
            <th>Куклы</th>
            <th>Конструкторы</th>
            <th>Роботы</th>
        </tr>
        </thead>
        <tbody>
        <th>
            <table>
                <tr th:each="cardGame : ${CardGames}">
                    <td>
                        <a th:href="@{/edit/{id}(id=${cardGame.getId()})}"
                           th:text="${cardGame.getProperty()}"></a>
                    </td>
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr th:each="doll : ${Dolls}">
                    <td>
                        <a th:href="@{/edit/{id}(id=${doll.getId()})}"
                           th:text="${doll.getProperty()}"></a>
                    </td>
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr th:each="lego : ${Legos}">
                    <td>
                        <a th:href="@{/edit/{id}(id=${lego.getId()})}"
                           th:text="${lego.getProperty()}"></a>
                    </td>
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr th:each="robot : ${Robots}">
                    <td>
                        <a th:href="@{/edit/{id}(id=${robot.getId()})}"
                           th:text="${robot.getProperty()}"></a>
                    </td>
                </tr>
            </table>
        </th>
        </tbody>
    </table>
</div>


</body>
</html>